@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Titillium+Web:wght@200&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(231, 231, 231);
}

h1, h2, h3, h4, h5{
    font-family: 'EB Garamond', serif;
}